<body>
	<strong>Title:</strong>
	<p><%= @blog.title %></p>
	<strong>Body:</strong>
	<p><%= @blog.body %></p>
</body>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "back", edit_book_path(@book) %>